<!--
# TAFE, 29 April, 2015.
# Ruby Source File
# Activity::  Final Project: Quiz App
# Author::  041504258  Suruchi Bapat
-->

<%= form_for(@question) do |f| %>
  <% if @question.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>
      
      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :text %><br />
    <%= f.text_area :text, :size => "50x3" %><br /><br />
    
    <%= f.label :question_type %><br />
    <%= f.select :question_type, [['True/False','True/False'],['Multiple Choice','Multiple Choice'],
                                ['Multiple Answer','Multiple Answer'],['Short Answer','Short Answer'],
                                ['Long Answer','Long Answer']] %><br /><br />
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
