<!--
# TAFE, 12 June, 2015.
# Ruby Source File
# Activity::  Final Project: Quiz App
# Author::   041504258 Suruchi Bapat
# Author::   041502996 Dillon O'Dwyer
-->

<html>
  
  <head>
    <% content_for(:title) do %>
          Start Quiz
    <% end %>
  </head>
  
  <body>
      <div class="header">
          <h1>Start Quiz</h1>
      </div>

      <section>
          <h1>Quiz Details: </h1>
          
          <p id="quizName"><%= @quizTitle %></p>
          <p id="clusterName"><%= "Cluster: " %> <%= @clusterTitle %></p>
          <p id="lecturerName"><%= "By: " %> <%= @lecturer %></p>
          <p id="timerLength"><%= "Duration: " %> <%= @timer %> <%= " Minutes" %> </p>
          <p id="questionCount"><%= "Questions: " %> <%= @total %></p>
          
          
      </section>

      <%= form_tag({:controller => "quiz", :action => "question"}) do %>
      <div class="center">
	         <%= submit_tag "Start !", :class => "submit"%>
      </div>
      <% end %>

</body>
</html>