<!--
# TAFE, 29 April, 2015.
# Ruby Source File
# Activity::  Final Project: Quiz App
# Author::   041504258 Suruchi Bapat
-->

<html>
  
  <head>
    <% content_for(:title) do %>
          Start Quiz
    <% end %>
  </head>
  
  <body>
      <div class="header">
          <h1>Start Quiz</h1>
      </div>

      <section>
          <h1>Quiz Details: </h1>
          
          <p id="coursename"><%= "Course Name: " %> <%= "ICA50711 Diploma of Software Development" %></p>
          <p id="clustername"><%= "Cluster Name: " %> <%= "RD - Rapid Application Development Cluster" %></p>
          <p id="quizid"><%= "Quiz ID: " %> <%= "RD01" %></p>
          <p id="quiztitle"><%= "Quiz Title: " %> <%= "Ruby on Rails Quiz" %></p>
          <p id="questioncount"><%= "Number of questions: " %> <%= "20" %></p>
          <p id="quizdate"><%= "Date: " %> <%= Time.now.strftime("%d/%m/%Y") %></p>
          
          
      </section>

      <%= form_tag({:controller => "quiz", :action => "start"}) do %>
      <div class="center">
	         <%= submit_tag "Start !", :class => "submit"%>
      </div>
      <% end %>



</body>
</html>