<!--
# TAFE, 12 June, 2015.
# Ruby Source File
# Activity::  Final Project: Quiz App
# Author::   041504258 Suruchi Bapat
# Author::   041502996 Dillon O'Dwyer
-->
<b><p STYLE="display: inline; border: solid  2px"id="time">  <%= %></p></b>
<h1>Question <%= @current + 1 %> of <%= @total %></h1>
<p id="question"><%= @question.getText %></p>

<%= form_tag({:controller => "quiz", :action => "answer"}) do %>
  <% if @type == 'TF' %>
    <%= radio_button_tag(:tf, "true") %>
    <%= label_tag(:tfTrue, "True") %>
    <%= radio_button_tag(:tf, "false") %>
    <%= label_tag(:tfFalse, "False") %>
  <% elsif @type == "MC" %>
    <% @question.getAnswers.each do |mcAnswer| %>
      <%= radio_button_tag(:mc, mcAnswer.getText) %>
      <%= label_tag(:mcLab, mcAnswer.getText) %>
    <% end %>
  <% elsif @type == "MA"  %>
    <% @question.getAnswers.each do |maAnswer| %>
      <%= check_box_tag(:ma, maAnswer.getText) %>
      <%= label_tag(:maLab, maAnswer.getText) %>
    <% end %>
  <% elsif @type == "St"  %>
    <%= text_area_tag(:st, "", size: "50x5") %>
  <% elsif @type == "Lg"  %>
    <%= text_area_tag(:lg, "", size: "100x10") %>
  <% else %>
    <p>We have encountered an error with this question.</p>
  <% end %>
  <div class="center">
	 <%= submit_tag("Continue", :class => "submit") %>
  </div>
<% end %>